 <!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}

<div class="container">
        <div class="row">
                <h1 class="margin-base-vertical">MQTT Messages</h1>
        </div><!-- //row -->
        <div class="row">
                <h3 class="margin-base-vertical">From Mongo DB</h3>
                <h4 class="margin-base-vertical">Topic = {{topic}}</h4>
        </div><!-- //row -->

        <form class="margin-base-vertical">
             <p class="input-group">
                 <span class="input-group-addon"><span class="icon-envelope"></span>
                 <input type="text" class="form-control input-lg" name="topic" placeholder="#" />
             </p>
             <p class="text-center">
                 <button type="submit" class="btn btn-success btn-lg">Select Topic</button>
             </p>
             </span>
         </form>


<div class="table-responsive"> 
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date-Time</th>
                    <th>Topic</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>

{% for message in mqtt_messages %}
                <tr>
                    <td>{{message.date}}</td>
                    <td>{{message.topic}}</b></td>
                    <td>{{message.message}}</td>
                </tr>
    {% endfor %} 
            </tbody>
        </table>
    </div> <!-- //Table -->
</div> <!-- //container -->

{% endblock %}

